.container {
    overflow: auto;
}
/* 三.轮播图开始 */
.banner {
    height: 175px;
    position: relative;
    top: 0;
    overflow: hidden;
   /* scroll-snap-align: center;   css实现全屏上下滚动 子元素 */
}
/* 1.核心滚动区域开始 */
.scroll {
    position: relative;
    margin-left: -100%;
    display: flex;
}
.scroll img {
    width: 362px;
    height: 175px;
}
/* 1.核心滚动区域开始 */
/* 2.小圆点部分开始 */
.circle {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,0);
}
.circle li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}
li.current {
    background-color: #000;
}
/* 2.小圆点部分结束 */
/* 三.轮播图结束 */

/* 四.菜单导航栏开始 */
.nav {
    height: 70px;
    margin-top: 20px;
   /*  scroll-snap-align: center; css实现全屏上下滚动 子元素 */
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav li img {
    width: 65px;
    height: 65px;
}
/* 四.菜单导航栏结束 */

/* 五.商品栏开始 */
.market {
   /* scroll-snap-align: center;  css实现全屏上下滚动 子元素 */
    margin-top: 40px;
}
.title img {
    width: 100%;
    height: 34px;
    margin-left: 10px;
}
.content {
    height: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);  /* 平均分成两份 */
    grid-gap: 20px;
    padding: 0 10px;
}
.content img {
    width: 100%;
    height: 100%;
}
.content div:first-child {
    grid-row: 1/3;
}
/* 五.商品栏结束 */